<h3 mat-dialog-title>Product Form</h3>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="first_name" matInput placeholder="First Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="last_name" matInput placeholder="Last Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Salary</mat-label>
      <input formControlName="salary" matInput placeholder="Salary" />
    </mat-form-field>
    
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addProduct()">
    {{actionButton}}
  </button>
</div>
